[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
autopep8 = "*"

[packages]
django = "*"
psycopg2-binary = "*"
slackclient = "*"
django-background-tasks = "*"
celery = "*"

[requires]
python_version = "3.7"
